/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

.bg-op {
  background-color: #000000;
  opacity: 0.6;
}

.sr-only {
  font-size: 0;
  display: none;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.noscroll {
  overflow: hidden;
  height: 100%;
}

#isDesktop {
  display: block;
}

#isMobile {
  display: none;
}

@media (max-width: 800px) {
  #isDesktop {
    display: none;
  }
  #isMobile {
    display: block;
  }
}

@font-face {
  font-family: 'Nexa';
  src: url("../fonts/nexa/nexa-light.eot");
  src: url("../fonts/nexa/nexa-light.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa/nexa-light.woff") format("woff"), url("../fonts/nexa/nexa-light.ttf") format("truetype"), url("../fonts/nexa/nexa-light.svg#nexa_lightregular") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url("../fonts/nexa/nexa-bold.eot");
  src: url("../fonts/nexa/nexa-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa/nexa-bold.woff") format("woff"), url("../fonts/nexa/nexa-bold.ttf") format("truetype"), url("../fonts/nexa/nexa-bold.svg#nexa_boldregular") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url("../fonts/nexa/nexa-light-italic.eot");
  src: url("../fonts/nexa/nexa-light-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa/nexa-light-italic.woff") format("woff"), url("../fonts/nexa/nexa-light-italic.ttf") format("truetype"), url("../fonts/nexa/nexa-light-italic.svg#nexa_light_italicitalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Zona Pro';
  src: url("..fonts/zonapro/zonapro-regular.eot");
  src: url("../fonts/zonapro/zonapro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/zonapro/zonapro-regular.woff") format("woff"), url("../fonts/zonapro/zonapro-regular.ttf") format("truetype"), url("../fonts/zonapro/zonapro-regular.svg#zona_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: url("../fonts/zonapro/zonapro-bold.eot");
  src: url("../fonts/zonapro/zonapro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/zonapro/zonapro-bold.woff") format("woff"), url("../fonts/zonapro/zonapro-bold.ttf") format("truetype"), url("../fonts/zonapro/zonapro-bold.svg#zona_probold") format("svg");
  font-weight: bold;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 800px) {
  .container {
    padding: 0 20px;
  }
}

.page-header, .page-header-img {
  font-family: "Nexa", sans-serif;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.25em;
  text-align: center;
}
.page-header {
  margin-top: 45px;
  margin-bottom: 45px;
}
.page-header-img {
  margin-top: 45px;
  margin-bottom: 25px;
}

.page-subtitle {
  font-size: 0.8em;
  font-weight: 300;
}
.page-subtitle {
  margin-bottom: 20px;
}

.page-title {
  font-size: 2.4em;
  font-weight: bold;
}
.page-title {
  margin-bottom: 15px;
}

.page-content {
  font-family: "Nexa", sans-serif;
  font-size: 0.9em;
  line-height: 1.8;
  text-align: justify;
}
.page-content {
  width: 100%;
}

.page-footer {
  font-family: "Nexa", sans-serif;
  font-size: .8em;
  text-align: center;
}
.page-footer {
  margin-top: 5%;
  margin-bottom: 5%;
}

.page-decoration {
  width: calc(220% / 1200 * 100);
  margin: 0 auto;
  min-width: 182px;
}

p, p + p {
  padding-bottom: 20px;
}
p:last-child, p + p:last-child {
  padding-bottom: 0;
}

p.dropcap:first-letter {
  color: #000;
  float: left;
  font-size: 2.3em;
  line-height: 1.1;
  margin: 0 .1em 0 0;
}

.chapter {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Nexa", sans-serif;
  letter-spacing: 0.25em;
}

.chapter-deco {
  width: calc(200% / 1200 * 100);
  margin: 0 auto;
  min-width: 200px;
}

.chapter-no {
  font-size: 12em;
  margin: 16% 0;
  font-family: "Zona Pro", sans-serif;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chapter-block .block-number {
  font-size: .8em;
  font-weight: 300;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.chapter-block .block-title {
  font-size: 3em;
  font-weight: bold;
}

.blockquote {
  font-size: 1.1em;
  font-style: italic;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-top: 2px #000000 solid;
  border-bottom: 2px #000000 solid;
  margin-bottom: 20px;
}

.img-full {
  width: 100%;
}

.page-image-full {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.page-image-potrait {
  width: 40%;
  margin: 0 auto;
  padding-top: 4%;
  padding-bottom: calc(4% + 20px);
}

@media (max-width: 800px) {
  .page-image-potrait {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .page-image-potrait {
    width: 70%;
  }
}

.image-caption {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}

.image-zoom {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.table {
  display: table;
  table-layout: auto;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-head {
  display: table-cell;
  vertical-align: middle;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table {
  text-align: center;
  padding-top: 5%;
}

.table .table-row:nth-child(odd) {
  background-color: #ddd;
}

.table .table-row:first-child {
  background-color: transparent;
}

.table .table-head {
  border-bottom: 2px #000000 solid;
  text-transform: uppercase;
  color: #c71e1e;
  font-weight: bold;
}

.table .table-cell {
  padding: 1% 0;
}

.table .table-cell:nth-child(-n + 2) {
  font-weight: bold;
}

.table span {
  font-size: 0.9em;
}

@media (max-width: 800px) {
  .table span {
    font-size: 0.8em;
  }
}

.video-container {
  max-width: 800px;
  margin: 0 auto;
}

.video-container video {
  width: 100%;
}

.video-container .plyr__poster {
  background-color: transparent;
}

blockquote.block{
  position: relative;
  font-weight: bold;
  border-left: 0;
  padding-left: 0;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

blockquote.block:before{
  content: '';
  display: block;
  border-top: 2px #000 solid;
  padding-top: 10px;
}

blockquote.block:after{
  content: '';
  display: block;
  border-bottom: 2px #000 solid;
  padding-bottom: 10px;
}

blockquote.quote{
  border-left: 0;
  padding-left: 0;
  text-align:center;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	position:relative;
	quotes: "\201C""\201D""\2018""\2019";
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

blockquote.quote:after{
  color:#ccc;
	content: open-quote;
	font-size:80px;
	position:absolute;
	left:50%;
	bottom:calc(100% - 20px);
	background:#fff;
	height:55px;
	width: 55px;
	line-height:normal;
	text-align:center;
	transform:translateX(-50%);
}

.page-footer{
  padding-top: 0;
  color: #000;
  background-color: transparent;
}

.unordered-list{
  margin: 20px;
  padding: 0;
}

.unordered-list li{
  list-style: disc;
  padding: 5px 0;
}

.unordered-list.square li{
  list-style: square;
  padding: 5px 0;
}

.unordered-list.none li{
  list-style: none;
  padding: 5px 0;
}


.ordered-list{
  margin: 20px;
  padding: 0;
}

.ordered-list li{
  list-style: decimal;
  padding: 5px 0;
}

/* grid */

.page-content:after {
  display: block;
  clear: both;
  content: '';
}

.page-content + .page-content {
  margin-top: 3%;
}

[class^="col-"] {
  width: 100%;
  float: left;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[class^="col-"]:last-child {
  margin-right: 0%;
}

/* NOTE: Breakpoint 641px - Grid System Started */
@media (min-width: 641px) {
  [class^="col-"] {
    float: left;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  [class^="col-"]:last-child {
    margin-right: 0%;
  }

  .col-1 {
    width: 5.58333%;
  }
  .col-2 {
    width: 14.16667%;
  }
  .col-3 {
    width: 22.75%;
  }
  .col-4 {
    width: 31.33333%;
  }
  .col-5 {
    width: 39.91667%;
  }
  .col-6 {
    width: 48.5%;
  }
  .col-7 {
    width: 57.08333%;
  }
  .col-8 {
    width: 65.66667%;
  }
  .col-9 {
    width: 74.25%;
  }
  .col-10 {
    width: 82.83333%;
  }
  .col-11 {
    width: 91.41667%;
  }
  .col-12 {
    width: 100%;
  }
  .col-one-third {
    width: 33.33333%;
    margin-right: 0;
  }
  .col-two-third {
    width: 66.66667%;
    margin-right: 0;
  }
  .col-half {
    width: 50%;
    margin-right: 0;
  }
  .col-full {
    width: 100%;
  }
  .offset-1 {
    margin-left: 8.33333%;
  }
  .offset-2 {
    margin-left: 16.66667%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.33333%;
  }
  .offset-5 {
    margin-left: 41.66667%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.33333%;
  }
  .offset-8 {
    margin-left: 66.66667%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.33333%;
  }
  .offset-11 {
    margin-left: 91.66667%;
  }
  .offset-12 {
    margin-left: 0;
  }
  .offset-one-third {
    margin-left: 33.33333%;
    margin-right: 0;
  }
  .offset-two-third {
    margin-left: 66.66667%;
    margin-right: 0;
  }
  .offset-half {
    margin-left: 50%;
    margin-right: 0;
  }
  .offset-full {
    margin-left: 0;
  }
}

.center-box {
  margin: 0 auto;
  max-width: 650px;
}

.toc-header{
  width: 100%;
  display: block;
  padding: 4%;
  font-family: "Nexa", sans-serif;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 4%;
}

.toc-header-no{
  width: 100%;
  display: block;
  padding: 4%;
  font-family: "Nexa", sans-serif;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 4%;
}

.toc-header-no span{
  display: inline-block;
  width: calc(100% - 40px);
}

.toc-header-no span:last-child{
  text-align: right;
  width: 40px;
}

.toc-content{
  width: 100%;
  display: block;
  padding: 4%;
  font-family: "Nexa", sans-serif;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 4%;
}

.toc-content:last-child{
  margin-bottom: 0;
}

.toc-content-no{
  width: 100%;
  display: block;
  padding: 4%;
  font-family: "Nexa", sans-serif;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 4%;
}

.toc-content-no:last-child{
  margin-bottom: 0;
}

.toc-content-no span{
  display: inline-block;
  width: calc(100% - 40px);
}

.toc-content-no span:last-child{
  text-align: right;
  width: 40px;
}

.hr-line-01{
  margin: 2% 0;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hr-line-02{
  margin: 2% 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: .9em;
}

table:empty{
  height: 75px;
  border: 1px #000 solid;
}

tr:empty{
  height: 75px;
  border: 1px #ddd solid;
}

td{
  text-align: center;
  padding: 15px 0;
}

td:empty{
  height: 75px;
  border: 1px #eee solid;
}

thead > tr > td:empty::after{
  content: 'This is table header';
  display: block;
  color: #b3b3b3;
}

thead > tr > td{
    border-bottom: 2px #000 solid;
    color: #c71e1e;
    text-transform: uppercase;
}

tbody > tr > td:empty::after{
  content: 'This is table body';
  display: block;
  color: #b3b3b3;
}

tbody > tr > td{
    color: #000;
}

tbody > tr:nth-child(even){
    background-color: #ddd;
}

.page-video{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

video{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.page-panorama{
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 2% 0;
}

.page-panorama img{
    height: 100%;
}

.slider-carousel {
  margin: 2% 0;
}
.slider-carousel .siema {
  margin: 1rem 0;
  position: relative;
}

.slider-carousel button{
    display: block;
    padding: 1%;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    line-height: 1.2;
}

.slider-carousel button:nth-of-type(1) {
  position: absolute;
  left: 0;
  top: 50%;
}

.slider-carousel button:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 50%;
}
